.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    border-radius: 18px 18px 0px 0;
}
.navbar a {
    color: #E8E9f3;
    text-decoration: none;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items:  center;
    text-align: center;
}


.navbar a:hover {
    text-decoration: underline;
}

.nav-icons{
    filter: invert(1) sepia(1) hue-rotate(290deg) saturate(5);
    border-radius: 50%;
}

